html, body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    background-color: rgb(244, 236, 236);
}
.menu{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr;
    padding: 1rem;
    text-transform: uppercase;

}
.intro, speaking{
    width: 50%;
    margin: 0 auto;
    text-align: center;

}
.intro h1{
    text-align: center;
    margin-top: 6rem;
}
.intro p, speaking p{
    line-height: 1.5lh;
}
.enlace{
    background-color: blueviolet;
    border-radius: 15px;
    padding: 0.4rem 0.9rem 0.4rem 0.9rem;
    width: fit-content;
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: black;
    color: rgb(255, 4, 4);
}
.join{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(67, 83, 233);
    /* color: #f8f4f4; */
    height: 80px;
    margin-right: 0;
    margin-left: 0;
    align-items: center;
    justify-items: center;
    color: white;
    text-transform: uppercase;
}
img{
    color: #f8f6f6;
}
h2{
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.contenedor{
    border: 1px solid red;
    background-color: azure;

    display: grid;
    grid-template-columns: repeat(auto-fit minmax(300px, 1fr));
    /* grid-template-rows: repeat(4, 1fr); */
    gap: 10px;
    /* justify-items: center; */
    /* align-content: center; */
    width: 70%;
    margin: 0 auto;
    grid-auto-rows: auto;
}
.contenedor div{
    border: 2px solid rgb(53, 53, 202);
    background-color: beige;
    min-height: 200px;
}
.uno{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
.diez{
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
}
.contexto{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-rows: 1fr 1fr; */
    gap: 10px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.contexto div{
    border: 2px solid rgb(53, 53, 202);
    background-color: beige;
    height: auto;
    /* min-height: 200px; */
    /* grid-column: 2 / span 1; */
    /* grid-row: 2 / span 1; */
    /* grid-column: 2; */
    /* grid-row: 2; */
}
.contexto p{
    line-height: 1.5lh;
}
.join{
    text-align: center;
    background-color: rgb(45, 45, 235);
    color: white;
}
.join p{
    line-height: 1.5lh;
    width: 70%;
}
.join h2{

}
.left{
    text-align: left;
}